<style>
  button {
      outline: none !important;
      border: none;
      background: transparent;
      background-color: transparent;
  }

  button, select {
    text-transform: none;
  }
  button, input {
    overflow: visible;
  }

  button:hover {
      cursor: pointer;
  }

  input {
    outline: none;
    border: none;
  }

  a:hover {
    text-decoration: none;
  }

</style>

<div class="contenedor" style="background-image: url('/app/static/conoce.jpg');">

  <div class="contenedor-form">
		<form class="login-form validate-form">
      <div class="avatar login-veronica">
        <img class="img-circle" style="width:100%;" src="app/static/bot.jpg">
      </div>
			<span class="login-titulo login-titulo-aux">
				Verónica
			</span>

			<div class="formulario-input validate-input login-username-aux" data-validate="Debes ingresar tu nombre de usuario"  style="margin-bottom:20px;">
				<input class="login-input" name="username" placeholder="Usuario" maxlength="45" type="text" ng-model="$ctrl.username" ng-enter="$ctrl.login()" ng-keydown="$ctrl.clear()">
				<span class="login-input-brillo"></span>
			</div>

			<div class="formulario-input validate-input" data-validate="Debes ingresar tu contraseña" style="margin-bottom:25px;">
				<input class="login-input" name="pass" placeholder="Contraseña" type="password" ng-model="$ctrl.password" ng-enter="$ctrl.login()" ng-keydown="$ctrl.clear()">
				<span class="login-input-brillo"></span>
			</div>

			<div class="login-contenedor-submit">
				<button class="login-submit" ng-click="$ctrl.login()">
					Ingresar
				</button>
			</div>

      <div class="login-message">{{ $ctrl.message }}</div>

			<div class="text-center" style="padding: 25px 0 20px 0;">
				<span class="login-social-text">
					O inicia sesión con
				</span>
			</div>

			<div class="login-lista-iconos" style="padding-bottom: 50px;">
        <a href="#" class="login-icono">
						<i class="fa fa-facebook-f"></i>
				</a>
        <a href="#" class="login-icono">
						<i class="fa fa-google" style="color:#dd4b39;"></i>
				</a>
			</div>

			<div class="text-center">
				<a href="#" class="txt2 hov1">
					Crear cuenta
				</a>
			</div>
		</form>

	</div>

</div>
